/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .flex-list .abouts-content,
  .text-abouts,
  .txt-contents {
    flex-direction: wrap;
    /* flex: 50%; */
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .menu-icon {
    display: block;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .flex-list .abouts-content,
  .flex-list .abouts-content .text-abouts,
  .flex-list .abouts-content .txt-contents {
    flex-direction: column;
    width: auto;
  }
  .flex-list .abouts-content img {
    width: 80%;
  }

  .header-right {
    display: none;
  }

  span.menu-icon {
    display: block;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  /* .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  } */
  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }
}
