* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  height: 270px;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://s3-alpha-sig.figma.com/img/bbad/3b9c/21e81b466f565d6ad2835b2fa6d8f341?Expires=1648425600&Signature=T4RSjt1BeYk25sKVLeVfRZKxCD02nSOTH4GCO3vFDyD4SMEPl5oYfvu-iKuW8CZasnWXS5znnAyPMzgHf0Ff0RC0JTRmJkUYAS2DpgjAt6xluhsCETXHsCvbL~G3mrmP0AbeJPVytygJquEapvTq-Wn2VwMg5gsPtGYyJU8DerntMKgmfnoJgf6oEOodoG2VO29iYKOB7sULsjHRU3yEz-a-LlTBxMKgOv5BbaMEB3zmIAGqRbGqcRngmotGxhWE4IVtsuNhnGyGo5TmrZSQ9hC~wAMlZ23gTdZiEqU3CGXyLL8MqfaDXx2kRvNyJ-bfSEbUTHF903mdxnj2Mjhhog__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  background-size: cover;
  color: white;
  text-align: center;
  margin-top: 120px;
  margin-left: 290px;
  background-position: center;
}

.top-wrapper h3 {
  margin-top: 220px;
  margin-left: 90px;
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  color: #2f2e2e;
  opacity: 0.9;
  font-weight: 200;
  line-height: 30px;
}

.top-wrapper .rectangle {
  position: absolute;
  width: 500px;
  height: 400px;
  left: 0px;
  top: 200px;
  background: linear-gradient(91.1deg,
      rgba(244, 246, 245, 0.9) -7.89%,
      rgba(255, 255, 255, 0.9) 132.55%);
}

.top-wrapper p {
  position: absolute;
  top: 80px;
  margin-left: 90px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;
  color: #2f2e2e;
  opacity: 0.9;
  text-align: left;
  font-weight: 400;
}

.top-wrapper p:hover {
  opacity: 0.5;
}

header {
  height: 70px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  position: absolute;
  width: 180px;
  height: 50px;
  left: 95px;
  top: 10px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;

  color: #2f2e2e;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: 25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  margin-left: 40px;
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  font-style: normal;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgb(216, 215, 215);
  font-weight: 800;
  margin-top: 9px;
}

.menu-icon {
  display: none;
}

#contact-wrapper {
  padding-bottom: 230px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 55px;
  background-color: #f7f7f7;
  text-align: center;
}

#lesson-wrapper {
  padding-bottom: 230px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

/* awal desta */
.clear {
  clear: both;
}

/* =====MAIN===== */
.main service {
  width: 660px;
  float: right;
}

.article {
  margin: 10px;
  overflow: hidden;
}

.article h1 {
  margin: 0px;
  text-align: center;
  text-shadow: 3px 3px 1px silver;
}

.main p,
.main hr {
  width: 100%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
}

.article img {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 0px 0;
  opacity: 0.7;
  transition: 0.5s;
}

.article img:hover {
  opacity: 1;
  cursor: pointer;
}

/* batas desta  */

.flex-list .abouts-content,
.text-abouts,
.txt-contents {
  display: flex;
  flex-direction: column;
}

#about-wrapper {
  padding-top: 5px;
  padding-bottom: 100px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.abouts {
  padding-top: 5px;
}

.abouts-content {
  width: 50%;
  padding: 5px 0px 5px 5px;
  float: left;
}

.abouts-content .txt-contents {
  text-indent: 50px;
}

.about-icon {
  position: relative;
}

.about-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
  text-align: justify;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  height: 270px;
}

ul {
  list-style: none;
}

.contact {
  width: 600px;
  height: 400px;
  margin: 30px auto;
  padding: 40px;
  /*background-color: #239b76;*/
}

.judul-kontak {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 3px solid #5a7562;
  margin-bottom: 30px;
  font-size: 48px;
}

.form p {
  padding-top: 35px;
  font-size: 18px;
  text-align: left;
}

.form span {
  color: red;
  float: right;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 10px;
}

input,
textarea {
  width: 100%;
  /*background: #fffef9;*/
  border: #fff;
  border-bottom: 1px solid #2f2e2e;
}

.send-button {
  background: #2C5663;
  color: #BBECFC;
  width: 400px;
  height: 50px;
  margin: auto auto 100px 60px;
}

footer {
  background-color: #24262b;
  padding: 60px 60px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.footer-col {
  width: 25%;
  padding: 0 30px;
}

.footer-col h4 {
  font-size: 28px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}

.footer-col p {
  font-size: 16px;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  text-align: justify;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.maps {
  position: absolute;
}

.footer-responsive h4 {
  font-size: 28px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  width: 100%;
  display: none;
}

.footer-responsive .social-links-responsive a {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  display: none;
}

.footer-responsive .social-links-responsive a:hover {
  color: #24262b;
  background-color: #ffffff;
  display: none;
}